#signin {
    
.Parent_container{
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("./images/IN-en-20250714-TRIFECTA-perspective_5acb7337-c372-45ec-ae12-ddb110e6ad78_large.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}
.topHeader{
    max-width: 1520px;
    min-height: 92px;
    padding: 24px 48px;
    position: relative;
    z-index: 100;
    width: 100%;
}
.image_area{
    margin: 0 auto;
    max-width: 1187px;
    min-height: 48px;
}
.sub_container{
    text-align: center;
    max-width: 480px;
    min-height: 709px;
    margin: 0 auto;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6));
}
.button button{
    background-color: red;
    color: white;
    width: 352px;
    height: 40px;
}
.button a{
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
}
.email input{
    width: 352px;
    height: 56PX;
    border-radius: 7px;
    padding: 10px;
    background: none;
    border: 1px solid white;
}
.password input{
    width: 352px;
    height: 56px;
    border-radius: 7px;
    padding: 10px;
    background: none;
    border: 1px solid white;
}

.or{
    color: white;
}
.code_box{
    width: 352px;
    height: 40px;
    background: transparent;
    color: white;
    background-color: rgba(99, 95, 95, 0.695);
    border-radius: 5px;
}
.code_box a{
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
}
.forgotPswd{
    width: 352px;
    height: 20px;
    margin: 0 auto;
}
.tikbox label{
    color: white;
}
.tikbox{
    width: 352px;
    height: 24px;
    margin: 0 auto;
    text-align: left;
}
.newNetflix{
    width: 352px;
    height: 36px;
    margin: 0 auto;
    text-align: left;
}
.newInner{
    width: 352px;
    height: 20px;
    color: rgb(181, 168, 168);
    text-align: left;
}
.newInner a{
    color: white;
}
.forgotPswd a{
    color: white;
}
.text{
    width: 352px;
    height: 32px;
    margin: 0 auto;
}
.text p{
    color:rgba(255,255,255,0.5);
    font-weight: 400;
    text-align: start;
    font-family: unset;
    font-size: 0.8125rem;
}
.sub_container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 50px;
}
.Form_class{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.input{
    border-radius: 5px;
}
.heading{
    text-align: left;
    padding: 20px 20px 20px 0;
    font-weight: 700;font-size: 32px;
}
.form_container{
    width: 352px;
    min-height: 40px;
    margin: 0 auto;
    margin-top: 15px;
}
.footer_container{
    max-width: 1520px;
    min-height: 309px;
    background-color: rgb(22, 20, 20);
}
.footer_ul{
    max-width: 1171px;
    min-height: 100px;
    display: grid;
    grid-template-columns: auto auto auto;
    padding-top: 20px;
}
.footer_child{
    max-width: 1171px;
    min-height: 164px;
    margin: 0 auto;
    padding: 100px 100px 100px 0;
}
.footerText{
    color: gainsboro;
}
.footer_li a{
    color: gainsboro;
}
}